body {
    background-color: black;
}

h2,
h4 {
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e691e4, 0 0 30px #e691e4, 0 0 40px #e691e4, 0 0 50px #e691e4, 0 0 75px #e691e4;
	letter-spacing: 5px;
	font: 'MisoRegular';
}

h2.tbd4-head,
h4.tbd4-sub {
	text-shadow: 0 0 5px #e5e5e5, 0 0 10px #e5e5e5, 0 0 15px #e5e5e5, 0 0 20px #e691e4, 0 0 30px #e691e4, 0 0 40px #e691e4, 0 0 50px #e691e4, 0 0 75px #e691e4;
	letter-spacing: 5px;
	font: 'MisoRegular';
}

.event {
    height: 75%;
    margin: auto;
}

.portfolio-img {
    height: 175px;
    width: 175px;
}

.project-img {
    margin: auto;
}

.project-wrapper {
    height: 70%;
    width: 100%
}

.nav-flex-icons {
    justify-content: flex-end;
}